body{
    background-color: rgb(178, 236, 90);
}
p{
    text-align: center;
    grid: 20cm;
    
    unicode-bidi: bidi-override;
}
h1,h2{
    text-align: center;
}
h1{
    font-size: 2cm;
    color: green;
}
h2{
    font-size: 1cm;
    color: rgb(81, 63, 182);
}
    .abc {
    display:inline-block;
    float: right;
}